<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
    <description>@description@</description>
    <author>@author@</author>
    <website>@website@</website>
    <status>@status@</status>
    <license>@license@</license>
    <copyright>true</copyright>
    <type>application</type>
    <target>@target@</target>
    <prepare>pre-install.xq</prepare>
    <finish>finish.xq</finish>
    <permissions user="docs" group="docs" mode="rw-rw-r--"/>
    <changelog>
        <change version="0.1.0">
            <ul xmlns="http://www.w3.org/1999/xhtml">
                <li>Initial release — unified documentation with integrated function reference</li>
            </ul>
        </change>
    </changelog>
</meta>
